<div class="login-box">
	<div class="container">
		<h3 class="title">填报系统登录</h3>
		<div class="form-box">
			<div class="form-item">
				<i class="icon iconfont icon-xingmingyonghumingnicheng"></i>
				<input type="text" placeholder="用户名">
			</div>
			<div class="form-item">
				<i class="icon iconfont icon-mima"></i>
				<input type="text" placeholder="密码">
			</div>
			<div class="form-item">
				<button class="submit-btn com-btn is-block">登&nbsp;&nbsp;录</button>
			</div>
		</div>
	</div>
</div>