<div class="com-header" id="comHeader">
	<div class="pull-left">
		<i class="logo pull-left"></i>
		<span class="title pull-left">填报系统模板</span>
	</div>
	<ul class="pull-right">
		<li><a href="./index.html">首页</a></li>
		<li><a href="./news.html">新闻</a></li>
		<li><a href="#">历史</a></li>
	</ul>
</div>